@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --font-color: rgba(0, 173, 239, 255);
    --font-dark-color: #023852;
    --box-shd: 1px 0px 1px var(--font-dark-color), 3px 2px 4px var(--font-color);
    --bg-color: #02041B;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background: url('pic/htr.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.block {
    border: 1px solid var(--font-color);
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: var(--box-shd);
    transition: all 1s ease;
}

.block a {
    color: var(--font-color);
}

#fax {
    display: none;
    font-weight: bold;
    text-decoration: none;
    color: var(--font-color);
    font-size: larger;
}

.cta main {
    margin-top: 60px;
}

#bg {
    opacity: .6;
    margin: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    background: black;

}

#mainpic {
    width: 100%;
}

.flip,
blockquote {
    color: var(--font-color);

}

blockquote {
    font-size: 0.8rem;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.3rem;
    color: rgb(37, 150, 190);
}

nav {
    display: none;
    position: relative;
    background: #02041B;
}

nav ul {
    opacity: .9;
    margin-top: 0;
    position: absolute;
    z-index: 3;
    background: #02041B;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 2rem;
    line-height: 2.5rem;
    text-decoration: underline;
    text-decoration-color: var(--font-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    text-shadow: 1px 1px #454241;
}

#mainbtn {
    display: block;
    margin: 1.875rem auto;
}

#mainbtn>h3:nth-child(1) {
    margin: 0 auto;
}

#kalk {
    display: none;
    margin: 0 auto;
    text-align: center;
    background: #02041B;
    border-radius: 2rem;
    width: 90%;
    padding: 1rem;
    color: var(--font-color);
    text-shadow: 1px 1px #454241;
    box-shadow: 1px 0px 1px var(--font-dark-color), 3px 2px 4px var(--font-color);
    border: 1px solid var(--font-color);
}

.btnn,
#mainbtn {
    background: #02041B;
    border: 1px solid var(--font-color);
    border-radius: 10px;
    height: 2.5rem;
    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 0px 1px var(--font-dark-color), 3px 2px 4px var(--font-color);
}

#nbr {
    border-radius: 6px;
    background: black;
    color: rgb(0, 173, 239);
    border: 1px solid rgb(0, 173, 239);
    height: 1.5rem;
}

#sub {
    width: 12rem;
}

#btn {
    width: 10rem;
    display: none;
}

#txt {
    font-weight: bolder;
    text-shadow: none;
}


.pictures {
    padding: 1rem;
}

h4 {
    text-align: center;
    margin: 0;
    font-size: larger;
    padding-bottom: 1rem;
}

#details {
    position: absolute;
    z-index: 1;
    top: 13rem;

}

footer {
    text-align: center;
    color: var(--font-color);
    font-size: 0.7rem;
    bottom: 0;
    top: 50rem;
    z-index: -1;
    margin: 0;
}

footer p {
    margin: 0;
}

.pics {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    border: 1px solid var(--font-dark-color);
    box-shadow: 1px 1px 3px var(--font-color);
}

.detstyle {
    color: var(--font-color);
    background: #02041B;
    border-radius: 2rem;
    display: none;
    margin: 0 auto;
    width: 80%;
    box-shadow: 1px 0px 1px var(--font-dark-color), 2px 2px 3px var(--font-color);
    border: 1px solid var(--font-color);
}

#detxt {
    line-height: 1.5rem;
    padding: 1rem;
}

.detbut {
    display: block;
    margin: 0 auto;
    width: 5rem;

}

.detbut a {
    color: var(--font-color);
}

@media (min-width: 592px) {
    .block {
        display: none;
    }

    nav {
        opacity: .8;
        display: block;
        text-align: center;
    }

    nav ul {
        display: inline;
        position: static;
        text-align: center;
    }

    nav ul li {
        margin: 0 1.2rem;
    }

    blockquote {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    #mainpic {
        width: 50%;
    }

    .front {
        display: flex;
        margin-top: 2rem;
    }

    #kalk {
        width: 40%;
        right: 2rem;
        position: absolute;
        top: 18rem;
    }

    #details {
        top: 10rem;
    }
}

@media (min-width: 776px) {
    blockquote {
        display: block;
    }

    #details {
        top: 8rem;
    }

    .pics {
        width: 60%;
    }

    #mainbtn {
        margin-top: 7rem;
    }

    #kalk {
        margin-top: 4rem;
        right: 4.2rem;
    }
}